<mat-card class="new-country">
  <mat-card-title class="new-country__title">Add new country</mat-card-title>
  <form action="" [formGroup]="countryForm" (ngSubmit)="saveCountry()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Country name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Official Language</mat-label>
        <input matInput formControlName="officalLanguage" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Capital</mat-label>
        <input matInput formControlName="capital" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Population</mat-label>
        <input matInput formControlName="population" />
      </mat-form-field>
    </div>
    <div class="new-country__actions">
      <button mat-raised-button [routerLink]="'/country'">Cancel</button>
      <button mat-raised-button color="primary" type="submit">
        Save country
      </button>
    </div>
  </form>
</mat-card>
